<!-- View for root page -->
<!-- <div class="text-center col-md-8 col-md-offset-2">
  <h1 id="title"><span class="fa fa-lock"></span>Welcome to Parmint</h1>
</div> -->

<div id="carousel" class="carousel slide" data-ride="carousel"  data-interval="3000">
    <div class="carousel-inner" role="listbox">
      <div id="carouselstyle" class="carousel-item active">
        <img class="d-block img-fluid" src="https://s3-us-west-1.amazonaws.com/homeshare-images/locations/anton_menlo/anton-exterior.jpg" alt="First slide">
        
      </div>
      <div id="carouselstyle" class="carousel-item" >
        <img class="d-block img-fluid" src="http://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/4211-58/altitude-apartments-exterior.jpg" alt="Second slide">
        
      </div>
      <div id="carouselstyle" class="carousel-item" >
        <img class="d-block img-fluid" src="http://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/4022-48/sakura-crossing-apartments-exterior.jpg" alt="Third slide">
        
      </div>
    </div>
  </div>

 