<!DOCTYPE html>
<html lang="en">
<head>
  <!-- replace the title with project name -->
  <title>Partmint</title>
  <!-- Bootstrap ver. 4.0.0/beta  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <!-- jquery ver. 3.2.1 - Uncompressed -->
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!-- <script src="/js/underscore-min.js"></script> -->
</head>
<body>
  <%- include partials/navbar.ejs %>
  <div class="container">
    <%- body %>
  </div>
</body>
</html>