.masonry {
  margin: 2em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
  float: left;
  width: 90%;
}

#middle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}

@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    display: inline-block;
  }
}

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    display: inline-block;
  }
}

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    display: inline-block;
  }
}

@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    display: inline-block;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
    display: inline-block;
  }
}

#propImg{
  max-width:100%;
  max-height:100%;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 0px 2px 1px 0 #413C58;
  margin: 8px;
}

#propImg:hover {
  border-color: #ccc;
}

#newResident {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; 
}

#updateProperty{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; 
}

#submitResident{
  margin-bottom: 10px;
}

#title{
  font-family: 'Righteous', cursive;
  background: #413C58;
}

#center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}

body{
  font-family:  'Raleway', sans-serif;
  color: #413C58;
}

#carousel{
  position: relative;
  left: 0;
  right: 0;
  margin: auto; 
  margin-top: 150px;
  margin-bottom: 50px;
}

.carousel-inner img {
  margin: auto;
  width: 1440px;
  height: 400px;
}



.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand{
  color: white !important;
  font-family: 'Righteous', cursive;
  font-size: 30px;
}
.nav-link {
  color: white !important;
}

.row{
  margin-top: 10px;
}

.btn.btn-partmint {
  background: #99ffbb;
  color: black;
}

.btn.btn-partmint:hover {
  background: #3bf576;
}

.btn.btn-addmint{
  background: #413C58;
  color: white;
  
}

.btn.btn-addmint:hover{
  background: rgb(123, 100, 238);
}

.btn.btn-deletemint{
  background-color: red;
  color: white;
  
}

.btn.btn-deletemint:hover{
  background-color: rgb(191, 31, 31);
 
}

.text-partmint {
  color:#413C58;
  
}




