<h1>New Property</h1>

<form class="property-form" method="post" action="/properties">
  <input type="text" name="aptNumber" placeholder="Apartment Number"/>
  <input type="text" name="street" placeholder="Street Address"/>
  <input type="text" name="city" placeholder="City"/>
  <input type="text" name="zipCode" placeholder="Zip Code"/>
  <input type="text" name="state" placeholder="State"/>
  <input type="text" name="rentalPrice" placeholder="Rent Price"/>
  <input type="text" name="numBedrooms" placeholder="Number of Bedrooms"/>
  <input type="text" name="numBathrooms" placeholder="Number of Bathrooms"/>
  <input type="text" name="sizeSquareFeet" placeholder="Square Feet"/>
  <input type="checkbox" name="vacant" placeholder="Vacant Property"/>
  <input type="text" name="description" placeholder="Describe Property"/>
  <button type="submit">Add Property</button>
</form>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Apartment Number</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>