<h1>New Property</h1>

<form class="property-form" method="post" action="/properties">
  <input type="text" name="aptNumber" placeholder="Apartment Number"/>
  <input type="text" name="street" placeholder="Street Address"/>
  <input type="text" name="city" placeholder="City"/>
  <input type="text" name="zipCode" placeholder="Zip Code"/>
  <input type="text" name="state" placeholder="State"/>
  <input type="text" name="rentalPrice" placeholder="Rent Price"/>
  <input type="text" name="numBedrooms" placeholder="Number of Bedrooms"/>
  <input type="text" name="numBathrooms" placeholder="Number of Bathrooms"/>
  <input type="text" name="sizeSquareFeet" placeholder="Square Feet"/>
  <input type="checkbox" name="vacant" placeholder="Vacant Property"/>
  <input type="text" name="description" placeholder="Describe Property"/>
  <button type="submit">Add Property</button>
</form>
